## Photo Analyzer Test

In [7]:
import pandas as pd
import numpy as np
from deepface import DeepFace

In [22]:
ceo_data = pd.read_csv('ceo_data.csv')

ceo_data

          Company Ticker  Year            CEO
0      Apple Inc.   AAPL  2010     Steve Jobs
1      Apple Inc.   AAPL  2011       Tim Cook
2      Apple Inc.   AAPL  2012       Tim Cook
3      Apple Inc.   AAPL  2013       Tim Cook
4      Apple Inc.   AAPL  2014       Tim Cook
..            ...    ...   ...            ...
675  VMware, Inc.    VMW  2015  Pat Gelsinger
676  VMware, Inc.    VMW  2016  Pat Gelsinger
677  VMware, Inc.    VMW  2017  Pat Gelsinger
678  VMware, Inc.    VMW  2018  Pat Gelsinger
679  VMware, Inc.    VMW  2019  Pat Gelsinger

[680 rows x 4 columns]

In [20]:

# Analyze the image
result = DeepFace.analyze(img_path="headshot.jpg", actions=['age', 'gender', 'race', 'emotion'], detector_backend='opencv')

# If result is a list, get the first item
data = result[0] if isinstance(result, list) else result

# Flatten the nested dictionaries
flat_data = {
    'age': data['age'],
    'dominant_gender': data['dominant_gender'],
    'dominant_race': data['dominant_race'],
    'dominant_emotion': data['dominant_emotion'],
    **data['gender'],
    **data['race'],
    **data['emotion']
}

# Create DataFrame
df = pd.DataFrame([flat_data])


df

Action: emotion: 100%|████████████████████████████| 4/4 [00:00<00:00,  7.27it/s]

,age,dominant_gender,dominant_race,dominant_emotion,Woman,Man,asian,indian,black,white,middle eastern,latino hispanic,angry,disgust,fear,happy,sad,surprise,neutral
0,23,Man,white,happy,0.233292,99.766707,0.000013,0.000383,8.855263e-07,97.201175,2.008301,0.790131,4.055470e-09,3.071197e-15,1.210319e-09,96.673888,0.000012,0.000121,3.325982